#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_goldpressedlatinumd += debian/examples/*
DEB_INSTALL_MANPAGES_goldpressedlatinumd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix goldpressedlatinumd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f goldpressedlatinum-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake goldpressedlatinum-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/goldpressedlatinumd:
	chmod +x $(cdbs_curdestdir)usr/bin/goldpressedlatinumd
binary-post-install/goldpressedlatinum-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/goldpressedlatinum-qt
